.show-password-login {
  height: calc(1.5em + 0.9rem + 2px);
}

.text-style {
  font-size: 14px;
  font-weight: 600;
  color: #8a8a8a;
}

.text-style-email-reset {
  font-size: 14px;
  font-weight: 400;
  color: #8a8a8a;
}

.content-login {
  border: none;
  background-color: #fff;
  width: 400px;
  height: 100%;
}

.backgroud-login {
  background-image: url("./images/laosack.jpg");
  // background-repeat: no-repeat;
  background-size: cover;
  // background-position: 0 0;
  object-fit: cover;
}

.content-style {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.content-child-style {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .content-login {
    border: none;
    background-color: #fff;
    width: 300px;
  }

  .login-container {
    margin-left: 20px;
    margin-right: 20px;
    width: auto !important;
  }

  .login-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .content-login {
    border: none;
    background-color: #fff;
    width: 100%;
  }

  .title-content {
    display: none;
  }

  .login-container {
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .login-wrapper {
    // height: 100%;
    width: 100%;
  }
}

@media screen and (max-height: 400px) {
  .content-login {
    border: none;
    background-color: #fff;
    width: 100%;
  }

  .title-content {
    display: none;
  }

  .login-container {
    min-height: 300px !important;
  }
}

.login-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 600px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.login-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  z-index: 0;
  opacity: 0;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.login-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.login-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background-image: url("./images/nipanan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.login-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.login-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
